.carousel-container {
    position: relative;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.card {
    color:white;
    min-width: 30%;
    box-sizing: border-box;
    padding: 20px;
    background-color: #000641;
    border-radius: 8px;
    box-shadow: 0 0 90px #03fdf9, 0 0 40px #03fdf9;
    text-align: center;
    margin: 10px;
}

.card h2 {
    margin: 0 0 10px;
}

.card p {
    margin: 0;
   
}

p{
    color:white;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Media query for small devices */
@media (max-width: 600px) {
    .card {
        min-width: 100%;
    }
}
